# Environment files
.env
frontend/.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Logs
logs/
*.log

# Local databases
*.sqlite3

# Demos
backend/demos/

# Facial weights: keep folder, ignore large binaries
backend/engines/facial/weights/*.pth
backend/engines/facial/weights/*.pkl
backend/engines/facial/weights/*.pt
backend/engines/facial/weights/*.bin
!backend/engines/facial/weights/README.md
!backend/engines/facial/weights/para.py


# OS files
.DS_Store
Thumbs.db
