django
channels
daphne
channels-redis

python-dotenv
httpx
websockets
elevenlabs
google-genai

numpy
opencv-python
torch
torchvision
torchaudio
timm
openface
funasr
vaderSentiment

Pillow
matplotlib
tqdm
scikit-learn
PyYAML
typing_extensions

fastapi
uvicorn
librosa
gradio
jieba
sounddevice
